beautifulsoup4
google-cloud-firestore
google-cloud-pubsub
gradio==3.37.0
jsonlines
llama-index==0.10.49
llama-index-vector-stores-pinecone==0.1.7
openai==1.35.3
pandas
pinecone-client==3.2.2
pytube
requests
retry
tiktoken
torch
tqdm
transformers
youtube_transcript_api
