beautifulsoup4
google-cloud-firestore
google-cloud-pubsub
gradio==3.37.0
jsonlines
llama-index==0.6.33
pandas
pinecone-client
pytube
torch
requests
retry
tiktoken
transformers
tqdm
youtube_transcript_api
